.footer-section {
    border-top: 1px solid #7f7f7f;
    padding-top: 30px;
    width: 90%;
    display: inline-block;
}

.footer-left {
    position: absolute;
}

.footer-left h2 {
    color:#7f7f7f;
    margin-left: 30px;
}

.footer-right {
   position: relative;
   width: 160%;
}

.footer-right a {
   line-height: 1.6;
   text-align: left;
   text-decoration: none;
}

.footer-link {
  font-size: 12px;
  color: #7f7f7f;
}
