.col {
  display: inline-flex;
}

.section {
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 75%;
}

.row {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  margin: 0 1em 0 1em;
}

.vertical-row {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  margin: 0 3em 0 3em;
}

.vertical-row h3 {
  color: #575757;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
}

.section-header {
  padding-left: 10px;
  text-align: left;
}

.section-header h1 {
  font-size: 30px;
}

.section-header h2 {
    color: black;
}

.section-header h3 {
  color: #575757;
  font-size: 20px;
}

.img-fluid {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20%;
  display: block;
  float: left;
  height: 50px;
  width: 50px;
}

.app-details {
  padding-left: 70px;
  text-align: left;
}

.app-title {
  font-size: 0.7em;
  padding: 0;
  margin: 0;
}

.grey-text {
  font-size: 12px;
  color: #7f7f7f;
  margin: 0;
  padding: 0;
}

.rating-star-icon {
  padding-left: 2px;
  width: 12px;
}
