.app-of-the-week {
  border-radius: 24px;
  filter: drop-shadow(0px 2px 6px rgba(60, 64, 67, 0.15)), drop-shadow(0px 1px 2px rgba(60, 64, 67, 0.3)), drop-shadow(0px 4px 8px rgba(128, 134, 139, 0.06)), drop-shadow(0px -2px 8px rgba(128, 134, 139, 0.09));
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1136px;
}

.app-of-the-week .container {
  background: linear-gradient(90deg, #D5E2EA 50%, rgba(213, 226, 234, 0) 80%);
  height: 100%;
  padding: 56px 40px 40px 40px;
}

.app-of-the-week .background-img {
  height: 100%;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.app-of-the-week .header {
  color: #202124;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.app-of-the-week .description {
  color: #202124;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 24px;
  margin-top: 16px;
  width: 472px;
}

.app-of-the-week .container .icon-list {
  align-items: center;
  display: flex;
  margin: 44px 0 30px;
  position: relative;
  width: 100%;
}

.app-of-the-week .icon-img {
  border-radius: 12px;
  margin-right: 16px;
  position: relative;
}

.app-of-the-week .content .app-name {
  font-size: 16px;
  line-height: 24px;
}

.app-of-the-week .developer {
  color: #5F6368;
  font-size: 14px;
  line-height: 20px;
}

.app-of-the-week .decide-bar-container {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
}

.app-of-the-week .content {
  align-self: center;
  padding: 0 25px;
  position: relative;
  text-align: center;
}

.app-of-the-week .content:first-child {
  padding-left: 0;   
}

.app-of-the-week .content .primary {
  display: flex;
  font-size: 14px; 
  justify-content: center; 
}

.app-of-the-week .content .rating-star-icon {
  margin-left: 3px;
}

.app-of-the-week .content .secondary {
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
}

.app-of-the-week .content:not(:first-child)::after {
  background-color: black;
  content: "";
  display: block;
  height: 24px;
  left: 0;
  position: absolute;
  top: calc(50% - 12px);
  width: 1px;  
}
